#welcome {
    padding: 30px;
}

#cover {
    color: white;
    background: url("../img/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}
#cover h1, #cover h2, #cover h3, #cover p {
    color: white;
}

#twitter-widget-0 {
	width: 100%;
}
