body {
	background-color: #fff;
}
.page {
	width: 940px;
	margin: auto;
	background-color: #fff;
}

#twitter-widget-0 {
	width: 100%;
}

#brand-name {
	line-height: 24px;
	margin-top: 2px;
}

a, .link {
	font-size: inherit;
}

hr {
	border: 0;
	border-bottom: 1px #ddd dotted;
	color: #ddd;
	background-color: #ddd;
}

.hero-unit{
	overflow: hidden;
}
.carousel .control {
	top: auto;
	bottom: -45px;
}
.carousel .control.left {
	left: auto;
	right: 100px;
}
.carousel .markers li a {
	background-color: gray;
}

@media (min-width: 768px) and (max-width: 979px) {
	.page {
		width: 724px;
	}
	.hero-unit > img {
		zoom: .6;
	}
}

@media (max-width: 767px) {
	.page {
		width: 100%;
	}

	.hero-unit > img {
		zoom: .6;
	}

}

@media (max-width: 480px) {
	.hero-unit img {
		display: none;
	}

	#brand-name {
		display: none;
	}
}