{% extends "template.html" %}

{% block title %}
CV
{% endblock %}

{% block content %}
<section class="page-region-content" id="timeline">
	<div class="grid">
		<header class="row">
			<div class="span5">
				<h2 class="fg-color-blueDark">Education and training</h2>
			</div>
			<div class="span5">
				<h2 class="fg-color-purple">Work experience</h2>
			</div>
		</header>
		<div class="row">
			<ul class="replies">
				<li class="border-color-blueDark">
				<b class="sticker sticker-right sticker-color-blueDark"></b>
					<h3>Ecole polytechnique</h3>
				</li>
				<li class="border-color-purple place-right">
				<b class="sticker sticker-left sticker-color-purple"></b>
					<h3>Essilor</h3>
				</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}
