{% extends "template.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block content %}
<section class="page-region-content" id="portfolio">
	<div class="grid">
		<div class="row">
			<div class="span7 border-color-purple">
				<h2 class="fg-color-purple">Case studies</h2>
				<hr>
				<div style="text-align:center">
					<iframe src="http://www.slideshare.net/slideshow/embed_code/12916514" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/davidnowinsky/lapprentissage-organisationnel" title="L&#39;apprentissage organisationnel" target="_blank">L&#39;apprentissage organisationnel</a> </strong> from <strong><a href="http://www.slideshare.net/davidnowinsky" target="_blank">David Nowinsky</a></strong>  for a Master PIC course</div>
					<hr>
					<iframe src="http://www.slideshare.net/slideshow/embed_code/12123381" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/davidnowinsky/athens-week-regulation-in-telecommunications" title="Athens week - regulation in telecommunications" target="_blank">Athens week - regulation in telecommunications</a> </strong> from <strong><a href="http://www.slideshare.net/davidnowinsky" target="_blank">David Nowinsky</a></strong> for an ATHENS week about <em>developing people internationally</em></div>
					<hr>
					<iframe src="http://www.slideshare.net/slideshow/embed_code/12797835" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/davidnowinsky/launchpad-de-novation-une-tablette-qui-rvolutionne-la-production" title="Launchpad de Novation : une tablette qui révolutionne la production" target="_blank">Launchpad de Novation : une tablette qui révolutionne la production</a> </strong> from <strong><a href="http://www.slideshare.net/davidnowinsky" target="_blank">David Nowinsky</a></strong> for a Telecom's course about <em>design and innovation</em></div>
				</div>
			</div>
			<div class="span3 border-color-red">
				<h2 class="fg-color-red">Projects</h2>
			</div>
			<div class="span6 border-color-pink">
				<h2 class="fg-color-pink">Webdesign</h2>
			</div>
			<div class="span4 border-color-blue">
				<h2 class="fg-color-blue">Maths &amp; Physics</h2>
			</div>
		</div>
	</div>
</section>
{% endblock %}
