:root {
  color-scheme: dark;
}

html {
  min-height: 100%;
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

main {
  flex: 1;
  text-align: center;
  border-color: #f1f5f90d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
